@using WinTenDev.Zizi.Utils
@using Telegram.Bot.Extensions.LoginWidget
@inherits LayoutComponentBase

@code {
    public bool Opened { get; set; }

    protected override void OnInitialized()
    {
        Opened = true;
    }

    private void ButtonClicked()
    {
        Opened = !Opened;
    }

    private void OnBtnLoginClick(MouseEventArgs obj)
    {
        var fields = new Dictionary<string, string>()
        {
            {
                "username", "ZiziMirrorBot"
            },
            {
                "auth_date", DateTime.Now.ToString()
            },
            {
                "id", StringUtil.GenerateUniqueId(10)
            }
        };

        var loginWidget = new LoginWidget("640524288:AAFnKz_WxLyCLQDCFCVf3W8hnB0ZNFoImuk");
        var checkAuth = loginWidget.CheckAuthorization(fields);
        if (checkAuth == Authorization.Valid)
        {

        }
    }
}

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="args => ButtonClicked()"></MatIconButton>
                <MatAppBarTitle>Zizi.Portal - Manage Zizi configuration for your Group.</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Icon="login" OnClick="OnBtnLoginClick"></MatIconButton>
                <MatIconButton Icon="favorite"></MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>


    <MatAppBarContent>
        <MatDrawerContainer Style="width: 100%; height: calc(100vh - 64px);">
            <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Dismissible">
                <NavMenu/>
            </MatDrawer>
            <MatDrawerContent>
                <div class="container-fluid">
                    @* <MatButton OnClick="@((e) => ButtonClicked())">Open Menu</MatButton> *@
                    @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@* <script async src="https://telegram.org/js/telegram-widget.js?15" data-telegram-login="ZiziMirrorBot" data-size="medium" data-onauth="onTelegramAuth(user)" data-request-access="write"></script> *@
@* <script type="text/javascript"> *@
@*   function onTelegramAuth(user) { *@
@*     // alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', ' + user.username : '') + ')'); *@
@*   } *@
@* </script> *@

@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*     </div> *@
@* *@
@*     <div class="main"> *@
@*         <div class="top-row px-4"> *@
@*             <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <div class="content px-4"> *@
@*         </div> *@
@*     </div> *@
@* </div> *@