<MatAccordion Multi="true">
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Beranda</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <p>Statistik</p>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Kelola</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatList>
                <MatListItem Href="word-filter/list">Olah Kata</MatListItem>
            </MatList>
            <p>Olah Tags</p>
            <p>Olah Catatan</p>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Labs</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatList>
                <MatListItem Href="counter">Counter</MatListItem>
                <MatListItem Href="fetchdata">Fetch Data</MatListItem>
            </MatList>
            <p>Olah Catatan</p>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>

    @for (var i = 0; i < 5; i++)
    {
        var ii = i;// capture variable
        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Panel @ii</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <p>Content of panel @ii</p>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    }
</MatAccordion>


@* <div class="top-row pl-4 navbar navbar-dark"> *@
@*     <a class="navbar-brand" href="">ZiziPortal</a> *@
@*     <button class="navbar-toggler" @onclick="ToggleNavMenu"> *@
@*         <span class="navbar-toggler-icon"></span> *@
@*     </button> *@
@* </div> *@
@* *@
@* <MatNavMenu> *@
@*     <MatNavItem OnClick="ClickMe" Title="Item 1">Item 1 - OnClick</MatNavItem> *@
@*     <MatNavItem Href="counter" Title="Item 2">Counter</MatNavItem> *@
@*     <MatNavItem Href="fetchdata" Title="Item 2">Fetch Data</MatNavItem> *@
@*     <MatNavItem Href="word-filter/view" Title="Item 2"> *@
@*         <MatIcon Icon="view_list"></MatIcon>&nbsp; Word Filter *@
@*     </MatNavItem> *@
@*     <MatNavSubMenu @bind-Expanded="@navSubMenuOpenState"> *@
@*         <MatNavSubMenuHeader> *@
@*             <MatNavItem AllowSelection="false"> *@
@*                 <MatIcon Icon="all_inbox"></MatIcon>&nbsp; Item 3 - Expanded: @navSubMenuOpenState *@
@*             </MatNavItem> *@
@*         </MatNavSubMenuHeader> *@
@*         <MatNavSubMenuList> *@
@*             <MatNavItem Href="#">Item 3.A&nbsp; <MatIcon Icon="backup"></MatIcon></MatNavItem> *@
@*             <MatNavItem>Item 3.B&nbsp; <MatIcon Icon="build"></MatIcon></MatNavItem> *@
@*             <MatNavItem>Item 3.C&nbsp; <MatIcon Icon="explore"></MatIcon></MatNavItem> *@
@*         </MatNavSubMenuList> *@
@*     </MatNavSubMenu> *@
@*     <MatNavItem><MatIcon Icon="grade"></MatIcon>&nbsp; Item 4 </MatNavItem> *@
@*     <MatDivider></MatDivider> *@
@*     <MatNavItem><MatIcon Icon="face"></MatIcon>&nbsp; Item 5</MatNavItem> *@
@*     <MatNavSubMenu> *@
@*         <MatNavSubMenuHeader> *@
@*             <MatNavItem AllowSelection="false"><MatIcon Icon="explore"></MatIcon>&nbsp; Item 6</MatNavItem> *@
@*         </MatNavSubMenuHeader> *@
@*         <MatNavSubMenuList> *@
@*             <MatNavItem Disabled="true" Href="#">Item 6.A</MatNavItem> *@
@*             <MatNavItem>Item 6.B</MatNavItem> *@
@*             <MatNavItem>Item 6.C</MatNavItem> *@
@* *@
@*         </MatNavSubMenuList> *@
@*     </MatNavSubMenu> *@
@* *@
@*     <MatNavItem Href="/Checkbox">Internal Href Checkbox</MatNavItem> *@
@*     <MatNavItem Href="/Checkbox" ForceLoad="true">ForceLoad - Internal Href Checkbox</MatNavItem> *@
@*     <MatNavItem Href="https://blazorboilerplate.com/" Target="_blank">Blazor Boilerplate - Href - Target = _blank</MatNavItem> *@
@*     <MatNavItem Href="https://www.matblazor.com/">MatBlazor - Href</MatNavItem> *@
@* </MatNavMenu> *@

@* <div class="@NavMenuCssClass" @onclick="ToggleNavMenu"> *@
@*     <ul class="nav flex-column"> *@
@*         <li class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="oi oi-home" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </li> *@
@*         <li class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="counter"> *@
@*                 <span class="oi oi-plus" aria-hidden="true"></span> Counter *@
@*             </NavLink> *@
@*         </li> *@
@*         <li class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="fetchdata"> *@
@*                 <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data *@
@*             </NavLink> *@
@*         </li> *@
@*         <li class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="word-filter/view"> *@
@*                 <span class="oi oi-list-rich" aria-hidden="true"></span> Word Filter *@
@*             </NavLink> *@
@*         </li> *@
@*     </ul> *@
@* </div> *@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Inject]
    IJSRuntime JS { get; set; }

    bool navSubMenuOpenState;

    async Task ClickMe()
    {
        Console.WriteLine("test");
        await JS.InvokeAsync<object>("alert", "Successful OnClick!");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}