[Unit]
Description=Zizi.Bot Stable

[Service]
WorkingDirectory=/path/to/bot/directory/
ExecStart=/path/to/bot/directory/Zizi.Bot
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=zizibot-stable
User=zizibot
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
